<div class="container">
<%= form_with(model: [book, summary], local: true) do |form| %>
  <% if summary.errors.any? %>
    <div id="error_explanation">
      <% summary.errors.full_messages.each do |message| %>
        <h4><%= message %></h4>
      <% end %>
    </div>
  <% end %>

  <table class="summary-create-table">
  <tr class="book-detail">
    <td class="book-image">
      <%= image_tag(@book.image_url)%>
    </td>
    <td class="book-desc">
      <p>
        <span class="book-title"><%= t('view.title') %>　</span>
        <span class="book-ex"><%= @book.title%></span>
      </p>
      <p>
        <span class="book-title"><%= t('view.author') %>　　　</span>
        <span class="book-ex"><%= @book.author%></span>
      </p>
      <p>
        <span class="book-title"><%= t('view.publisher') %>　　</span>
        <span class="book-ex"><%= @book.publisher%></span>
      </p>
      <p>
        <span class="book-title"><%= t('view.publisher') %>　　</span>
        <span class="book-ex"><%= @book.caption%></span>
      </p>
      <p>
        <span class="book-title"><%= t('view.publisher') %>　　</span>
        <span class="book-ex"><%= @book.chirayomi%></span>
      </p>
      <p class="create-category">
      </p>
    </td>
  </tr>
  </table>

  <hr>
    <div>
      <%= form.rich_text_area :content %>
    </div>

    <div class="center">
      <%= form.submit t('view.submit'), class:"search-submit" %>
    </div>
  </div>
<% end %>
