<div class="container center">

  <%= form_tag(new_book_path, method: :get, class: 'form-inline') do %>
    <%= text_field_tag :book_title, @title, class: 'form-control', placeholder:t('view.summary_title'), size: 40 %>
    <%= submit_tag t('view.search_summary'), class: 'btn'%>
  <% end %>

  <% if @books.present? %>
    <div class="book-table">
      <% @books.each do |book| %>
      <div class="book-content">
        <p><%= image_tag(book.image_url) %></p>
        <p class="summary-book-title"><%= book.title %></p>
        <%= form_tag(books_path) do %>
          <%= hidden_field_tag :isbn, book.isbn %>
          <p><%= submit_tag 'save', value: t('view.create_summary'), class: "create-summary" %></p>
          <p><%= submit_tag 'save', value: t('view.create_memo'), class: "create-memo" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>

</div>